attrs
jsonpickle
redis
fakeredis
numpy==1.16
scipy==1.1.0
typing
keras
ruamel.yaml
tensorflow
apscheduler
tqdm==4.28
network
fbmessenger
pykwalify
coloredlogs
sanic
sanic-cors
sanic-jwt
aiohttp
scikit-learn
rasa_nlu
slackclient
python-telegram-bot
twilio
webexteamssdk
mattermostwrapper
colorhash
pika
jsonschema
packaging
gevent
pytz
rasa_core_sdk
pymongo
python-dateutil
rocketchat_API
colorclass
terminaltables
questionary
async_generator
python-socketio
pydot
sqlalchemy
kafka-python
sklearn-crfsuite
